.release-one {
  width           : 100%;
  // height          : 100%;
  position        : relative;
  padding-bottom: 100px;

  .release-bottom {
    position        : absolute;
    bottom          : -24px;
    height          : 60px;
    width           : 100%;
    // box-shadow: 0 -3px 10px #ccc;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    padding-left: 18px;
  }
  >h4{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .release-one-isprice{
    width: 120px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
    >span{
      flex: 1;
      height: 100%;
      line-height: 30px;
    }
  }
  .select-releaseone{
    background-color: #1890ff;
    color: #fff;
  }
  .add-lecturer{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px dashed #ccc;
    cursor: pointer;
    transition: all .3s;
  }
  .add-lecturer:hover{
    border: 1px dashed #1890ff;
  }
}